<%- include('./partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="POST">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input class="form-control" type="text" name="postTitle" id="postTitle" />
  </div>
  <div class="form-group">
    <label for="post">Post</label>
    <textarea class="form-control" name="post" id="post" cols="30" rows="10"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Publish</button>
</form>

<%- include('./partials/footer'); -%>